<?xml version="1.0" encoding="utf-8"?>
<launch>
   <arg name="model"/>

   <arg name="paused" default="false"/>
   <arg name="use_sim_time" default="true"/>
   <arg name="gui" default="true"/>
   <arg name="headless" default="false"/>
   <arg name="debug" default="false"/>

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
   </include>

   <param name="robot_description" textfile="$(find mobile_robot)/urdf/mobile_robot.urdf" />

   <param name="use_gui" value="True" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0"/>
      <remap from="/joint_states" to="/mobile_robot/joint_states" />
   </node>

   <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model mobile_robot -x 0 -y 0 -z 0 -param robot_description"/>

   <rosparam file="$(find mobile_robot)/config/control.yaml" command="load"/>
 
   
   <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/mobile_robot" args="joint_state_controller rightWheelController leftWheelController"/>

   <!--node name="rqt_reconfigure" pkg="rqt_gui" type="rqt_gui"/-->
   
   <!--node pkg="mobile_robot" type="odometry_node" name="odometry" output="screen"/-->
   <!--node pkg="mobile_robot" type="controllerNode" name="controller" output="screen"/-->
 
   <!-- Odometry -->
   <!--node name="odom_pub" pkg="my_odom_publisher" type="odom.py" output="screen"/-->


   <!-- WayPoint Controller -->


   <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot)/rviz/mobile_robot.rviz"/-->
</launch>
